{% extends "base.html" %}

{% block title %}Advisory Board - Scholar Perspective{% endblock %}

{% block content %}
<section class="board-section">
    <h2>Advisory Board</h2>
    <p class="board-intro">Members are listed in alphabetical order by last name.</p>

    <div class="board-list">
        <div class="board-member">
            <p class="member-name">Dr. Bill Booth</p>
            <p class="member-affiliation">Emeritus Professor of Art History and Former Chair of Art Department, Morehead State University, U.S.A.</p>
        </div>

        <div class="board-member">
            <p class="member-name">Dr. Sundaram Rameshkumar</p>
            <p class="member-affiliation">Professor, HNU-ASU Joint International Tourism College, Hainan University, China</p>
        </div>

        <div class="board-member">
            <p class="member-name">Dr. Steve Scheck</p>
            <p class="member-affiliation">Professor and Former Provost of Western Oregon University, U.S.A.</p>
        </div>

        <div class="board-member">
            <p class="member-name">Professor Ming Wang</p>
            <p class="member-affiliation">Professor and Former Dean of School of Design, Central Academy of Fine Arts, China</p>
        </div>
    </div>
</section>
{% endblock %}
